/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


/* GLOBALES */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding: 2rem;
}

/* VARIABLES */
:root {
    --main-color: #ff002b;
    --sec-color: #4946fd;
    --text-color: #e8e9f1;
    --bg-color: #000814;
}

::selection {
    color: var(--text-color);
    background-color: var(--main-color);
}

.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

.logopng {
    width: 39px;
    margin-right: 870px;
}

section {
    padding: 4rem 0 3rem;
}

body {
    color:var(--text-color);
    background-color: var(--bg-color);
}

img {
    width: 100%;
}

/* ============================================ */

/* HEADER */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color);
    box-shadow: 0 1px 4px hsl(0 4% 15% / 10%);
    z-index: 100;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--text-color);
    text-transform: uppercase;
}

.logo span {
    color: var(--main-color);
    font-weight: bold;
}

.whitetext {
    color: var(--text-color);
}

#cart-icon {
    font-size: 1.8rem;
    cursor: pointer;
    text-align: right;
}

#total{
    color: #ffffff;
}

/* SHOP SECTION */
.shop{
    margin-top: 2rem;
}

.section-title{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
    text-align: center;
}

.row {
    color: var(--text-color);
}

.product-box{
    position: relative;
    transition: .5s ease-in-out;
}

.product-box:hover{
    padding: 10px;
    border: 2px solid var(--sec-color);
}

.col-md-6 {
    justify-content: space-between;
}

.product-img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: .5rem;
}

.product-title{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.product-price{
    font-weight: 500;
}

.styleaddcartshop {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--text-color);
    color: var(--bg-color);
    padding: 11px;
    cursor: pointer;
    transition: .5s;
}

.add-cart:hover{
    background: var(--sec-color);
    color: var(--text-color)
}

/* Establece un color diferente para todos los enlaces */
a {
    color: #ffffff; /* Color blanco */
    text-decoration: none; /* Elimina el subrayado predeterminado de los enlaces */
}

/* Establece un color diferente para los enlaces al pasar el ratón sobre ellos */
a:hover {
    color: #ff002b; /* Color rojo */
}

/* ==== RESPONSIVE ==== */
@media (max-width: 1080px){
    .nav{
        padding: 15px;
    }
    .container{
        width: 90%;
        margin: 0 auto;
    }
    section{
        padding: 3rem 0 2rem;
    }
    .shop{
        margin-top: 2rem;
    }
}

/* ==== Medium Devices ==== */
@media (max-width:400px){
    .nav{
        padding: 11px;
    }
    .logo{
        font-size: 1rem
    }
    .cart{
        width: 320px;
    }
}

/* ==== Small Devices ==== */
@media (max-width:360px){
    .shop{
        margin-top: 1rem;
    }
    .cart{
        width: 280px;
    } 
}